<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org"> <!-- conecta mi vista desde mi bd pasando x el controlador devolviendo la vista hacia el html
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla HTML con Bootstrap</title>
    <!-- Agregar la hoja de estilo de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <header class="container mt-3">
        <h1 class="text-center">Datos de Habitaciones</h1>
        <div class="text-center">
            <a href="http://localhost:8080/" class="btn btn-primary">INICIO</a>
            <a href="http://localhost:8080/REGISTRODEHABITACIONES" class="btn btn-primary">REGISTRO DE HABITACIONES</a>
            
            <a href="http://localhost:8080/INFORMACIONDEHABITACIONES" class="btn btn-primary">DATOS DE HABITACIONES
             </a>
        </div>
    </header>
    <!-- AGREGADO DE FILTRADO-->
<div class="container mt-3">
<form action="/INFORMACIONDEHABITACIONES" method="GET">
<label for="filtro">Filtrar habitaciones</label>
<select id="filtro" name="filtro">
    <option value=""> Todas las habitaciones </option>
<option value="libres">Habitaciones libres </option>
    <option value="dobles" >Habitaciones Dobles </option>
    <option value="premium" >Habitaciones Premium</option>
</select>
<button type="submit" class="btn btn-primary">Filtrar</button> 
</form>


</div>




    <div class="container mt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Tipo</th>
                    <th>Camas</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacion: ${habitaciones}" > <!--  ARRAID --each:buscar///bucle habitacion x habitacion, objeto -->
                    <td th:text="${habitacion.id}">Codigo </td> 
                    <td th:text="${habitacion.tipo}">Tipo </td> 
                    <td th:text="${habitacion.cama}">Cama</td> 
                    <td th:text="${habitacion.estado}">Estado </td> 
                </tr>
              
            </tbody>
        </table>
    </div>

</body>
</html>
