<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        header {
            text-align: center;
            margin-bottom: 20px;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        button {
            margin: 5px;
        }
        main {
            text-align: center;
        }
        img {
            width: 1200px;
            height: 500px;
        }
    </style>
</head>
<body>

<header class="container">
    <h1>HOTEL PARAISO</h1>
    <h2>....EL LUGAR DE TUS SUEÑOS....</h2>
    <a href="http://localhost:8080/" class="btn btn-primary">INICIO</a>
    <a href="http://localhost:8080/REGISTRODEHABITACIONES" class="btn btn-primary">REGISTRO DE HABITACIONES</a>
    
    <a href="http://localhost:8080/INFORMACIONDEHABITACIONES" class="btn btn-primary">DATOS DE HABITACIONES
     </a>
    

<main class="container">
    <br>
    <br>
    <img src="/img/tivo.jpg" alt="HOTEL">
</main>

</body>
</html>
